@keyframes change-color {
    0% {
      color: blanchedalmond;
    }
    50% {
      color: #eec25e;
    }
  
    100% {
      color: blanchedalmond;
    }
}
  
/* Обнуление */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* Обнуление */

body {
    background: url(./img/tv1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slider {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#slider-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.15em;
    animation: change-color 3s infinite;
    margin-top: 40px;
   
}

#slider-content {
    width: 45%;
    margin: 0 auto;
    padding-top: 185px;
}

.slider-content__item {
    display: flex;
    width: 100%;
    transition: all 0.8s ease-in;
}

.slider-content__item img {
    width: 100%;
    border-radius: 15px;
}

#slider-content__overflow {
    width: 100%;
    overflow: hidden;
}

#dot1:checked ~ #slider-content .slider-content__item {
    margin-left: 0;
}

#dot2:checked ~ #slider-content .slider-content__item {
    margin-left: -100%;
}

#dot3:checked ~ #slider-content .slider-content__item  {
    margin-left: -200%;
}

#dot4:checked ~ #slider-content .slider-content__item {
    margin-left: -300%;
}

input {
    display: none;
}

#slider-controls {
    margin: 0 auto;
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.15em;
    color:blanchedalmond;
    transition: all 0.4s ease-in-out;
    padding-left: 15px;
}

label {
    display: inline-block;
    margin: 0 1px;
    padding: 20px 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#dot {
    display: block;
    width: 40px;
    height:10px;
    background:blanchedalmond;
    opacity: 0.7;
    border-radius: 10px;
}

label:hover {
    opacity: 1;
    transform: scale(1.2);
}

#dot1:checked ~ #slider-controls label:nth-child(1),
#dot2:checked ~ #slider-controls label:nth-child(2),
#dot3:checked ~ #slider-controls label:nth-child(3),
#dot4:checked ~ #slider-controls label:nth-child(4) {
    background: #eec25e;
    opacity: 1;
    transform: scale(1.2);
}

#slider-text__overflow {
    width: 14em;
    overflow: hidden;
}

.slider-text {
    display: flex;
    gap: 3em;
    width: 60em;
    transition: all 0.8s ease-in;
}

#dot1:checked ~ #slider-controls .slider-text {
    margin-left: 0;
}

#dot2:checked ~ #slider-controls .slider-text {
    margin-left: -16em;
}

#dot3:checked ~ #slider-controls .slider-text  {
    margin-left: -28em;
}

#dot4:checked ~ #slider-controls .slider-text {
    margin-left: -43em;
}