@keyframes change-color {
    0% {
      color: #EAF0F5;
    }
    50% {
      color: #FFF700
    }
  
    100% {
      color: #EAF0F5;
    }
}

@keyframes appearance {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 0.4;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

/* Обнуление */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* Обнуление */

body {
    /*background: url(./img/tv1.jpg);*/
    background: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

* {
    box-sizing: border-box;
}

.slider {
    width: 80%;
    margin: 0 auto;
}

#slider-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6em;
    line-height: 1.3em;
    letter-spacing: 0.15em;
    animation: change-color 3s infinite;
    padding-top: 1.6em;
    text-align: center;
}

#slider-content {
    width: 50%;
    margin: 0 auto;
    margin-top: 2em;
}

.slider-content__item {
    display: flex;
    width: 100%;
    transition: all 0.8s ease-in;
}

.slider-content__item img {
    width: 100%;
    border-radius: 1.5em;
}

#slider-content__overflow {
    width: 100%;
    overflow: hidden;
}

#dot1:checked ~ #slider-content .slider-content__item {
    margin-left: 0;
}

#dot2:checked ~ #slider-content .slider-content__item {
    margin-left: -100%;
}

#dot3:checked ~ #slider-content .slider-content__item  {
    margin-left: -200%;
}

#dot4:checked ~ #slider-content .slider-content__item {
    margin-left: -300%;
}

input {
    display: none;
}

#slider-controls {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

label {
    display: inline-block;
    margin: 0 0.15em;
    padding: 1.4em 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#dot {
    display: block;
    width: 2.86rem;
    height: 0.715rem;
    background:blanchedalmond;
    opacity: 0.7;
    border-radius: 0.715rem;
    transition: all 0.4s ease-in-out;   
}

label:hover #dot{
    opacity: 1;
    transform: scale(1.2);
}

#dot1:checked ~ #slider-controls label:nth-child(1) #dot,
#dot2:checked ~ #slider-controls label:nth-child(2) #dot,
#dot3:checked ~ #slider-controls label:nth-child(3) #dot,
#dot4:checked ~ #slider-controls label:nth-child(4) #dot {
    background: #0EB927;
    opacity: 1;
    transform: scale(1.2);
}

#slider-text__overflow {
    width: 14em;
    overflow: hidden;
    flex-shrink: 0;
} 

.slider-text {
    display: flex;
    width: 100%;
    transition: all 0.8s ease-in;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 2em;
    letter-spacing: 0.13em;
    color: #0F19B5;
    transition: all 0.4s ease-in-out;
    width: 100%;
    flex-shrink: 0;
}

#dot1:checked ~ #slider-controls .slider-text {
    margin-left: 0;
}

#dot2:checked ~ #slider-controls .slider-text {
    margin-left: -100%;
}

#dot3:checked ~ #slider-controls .slider-text  {
    margin-left: -200%;
}

#dot4:checked ~ #slider-controls .slider-text {
    margin-left: -300%;
}

#dot1:checked ~ #slider-controls .slider-text, 
#dot2:checked ~ #slider-controls .slider-text, 
#dot3:checked ~ #slider-controls .slider-text, 
#dot4:checked ~ #slider-controls .slider-text {
    animation: appearance 0.5s ease-in-out;
    opacity: 1;
}

/*Media Queries*/
    
/*@media (min-width: 481px) and (max-width: 1279px) {
  
} */

@media (min-width: 320px) and (max-width: 480px) {
    #slider-title {
        font-size: 1.3em;
        line-height: 1em;
    }

    #slider-controls {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
        margin: 0 auto;
        width: 100%;
    }

    #dot {
        width: 1rem;
        height: 0.715rem;  
    }

    .text {
        font-size: 1.2em;
        line-height: 1em;
        width: 12em;
    }

    #slider-text__overflow {
        width: 12em;
        order: 2;
    }

    #slider-content {
        width: 100%;
        margin: 0 auto;
        margin-top: 2em;
    }
} 